<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap4/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body style="background-image: url('/images/brt/brt2.jpeg'); background-repeat: no-repeat; ba">
<div>
    <h1 style="font-weight: 900; color: white">BRT</h1>
</div><hr/>
<div class="text-center"><br>
    <h3 style="color:white; fon†-weight: 900">Bus Rapid Transit (BRT)</h3>
    <h4>Delivers fast, comfortable, and cost-effective </h4>
    <h4>services at metro-level capacities </h4><br><br>
    <a href="/login" class="btn btn-primary"><h3>Book a trip</h3> </a>
</div>
</body>
</html>