<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap4/css/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap4/js/bootstrap.min.js">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body style="background-image: url('/images/brt/brt2.jpeg'); background-repeat: no-repeat; ba">
<div>
    <h1 style="font-weight: 900; color: white">BRT</h1>
</div><hr/>
<div class="text-center">
    <h3 style="font-weight: 700;">Bus Rapid Transit (BRT) is a high-quality <br/>
    bus-based transit system that delivers fast, <br/>
    comfortable, and cost-effective services <br/>
    at metro-level capacities </h3><hr>
    <a href="/login" class="btn btn-primary"><h3>Join Us</h3> </a>
</div>
</body>
</html>