<!-- Receipt  Page-->
<div id="searchLoc1">
    <div class="row" style="padding-top: 100px;">
        <div class="col-3"></div>
        <div class="col-6" style="background-color: whitesmoke; padding: 20px; border-radius: 20px;">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>BRT Reservation Ticket</strong>
                        <br>
                        212 Oyingbo Market,
                        <br>
                        Lagos State, Nigeria
                        <br>
                        <abbr title="Phone">Phone No:</abbr> (+234) 816-8898-016
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: 1st November, 2013</em>
                    </p>
                    <p>
                        <em>Receipt #: 34522677W</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Booking Receipt</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Seat #</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-md-9"><em>Oyingbo to Ikeja</em></h4>
                        </td>
                        <td class="col-md-1" style="text-align: center"> 2, 4</td>
                        <td class="col-md-1 text-center">N50</td>
                        <td class="col-md-1 text-center">N100</td>
                    </tr>

                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td class="text-right">
                            <p>
                                <strong>Subtotal: </strong>
                            </p>
                        </td>
                        <td class="text-center">
                            <p>
                                <strong>N100</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td class="text-right">
                            <h4><strong>Total: </strong></h4>
                        </td>
                        <td class="text-center text-danger">
                            <h4><strong>N100</strong></h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" onclick="window.print()" class="btn btn-primary">
                    Print   <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                </td>
            </div>
        </div>
        <div class="col-3"></div>

    </div>
</div>
<!-- ======================================= -->
<!-- Receipt page ENDS HERE-->